/* work sans google font */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Indie+Flower&family=Noto+Serif:wght@600&family=Open+Sans:wght@800&family=Roboto:wght@500&family=Work+Sans:wght@400;600;700&display=swap');

/* shared styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    border: 0;
    padding: 8px 20px;
    cursor: pointer;
}

.section-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
}

/* header related styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    color: #424242;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}



/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.5rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-feature {
    color: #FF900E;
    font-weight: 700;
}

/* facts styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;

}

.facts-card-container .card-title {
    font-size: 1.25rem;
    color: #424242;
    font-weight: 600;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* media query */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }


}